.cabeçalho__menu-hamburguer {
    width: 54px;
    height: 54px;
    background-image: url(../img/Menu.svg);
    display: inline-block;
    }



.cabeçalho {
      background-color: var(--branco);
      display: flex;
      justify-content: space-between;
      align-items: center;
}

.container {
          display: flex;
          align-items: center;
        }