.cabeçalho__menu-hamburguer {
    width: 54px;
    height: 54px;
    background-image: url(../img/Menu.svg);
    display: inline-block;
    }



.cabeçalho {
      background-color: var(--branco);
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
}

.container {
          display: flex;
          align-items: center;
}
          .lista-menu {display:none;
           position:absolute;
           top: 100%;
           width: 40vw;}
           
           .container__botao:checked~.lista-menu{ 
            display: block;}
           
           .lista-menu__titulo,.lista-menu__item{
                padding: 1em;
                background-color: rgb(221, 116, 25);}
                
           .lista-menu__link{
            background-image: linear-gradient(rgb(230, 125, 28),rgb(247, 185, 60));
           -webkit-background-clip: text;
           -webkit-text-fill-color: rgb(249, 57, 57);
           background-clip: text;
           text-transform: uppercase; }